<!DOCTYPE html>
<html lang="en">
<head>
    <title>Evoniser</title>
</head>
<body>
{{template "header" .}}
<h1>Evoniser - open ERP for everyone</h1>
<div style="float: right">
    {{if .Username}}
        User Name: {{.Username}}
        <a href="/logout">Выйти</a>
    {{else}}
        <a href="/login">Войти</a>
        <a href="/signup">Зарегистрироваться</a>
    {{end}}
</div>
<main>
    {{if .Username}}
        <div>Полная информация о пользователе</div>
        <div>First Name: {{.FirstName}}</div>
        <div>Last Name: {{.LastName}}</div>
        <div>User Name: {{.Username}}</div>
        <div>Password: {{.Password}}</div>
    {{end}}
</main>
</body>
</html>

