<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login page</title>
</head>
<body>
    {{template "header" .}}
    <h1>Log in Evoniser</h1>

    <!-- Форма для авторизации -->
    <div>Форма авторизации</div>
    <form action="/login" method="POST">
        <input type="email" name="email" placeholder="Your email" autofocus autocomplete="off"><br>
        <input type="text" name="password" placeholder="Your password" autocomplete="off"><br>
        <input type="submit" name="submit_btn" value="Submit">
    </form>
</body>
</html>

