<!DOCTYPE html>
<html lang="en">
<head>
    <title>Evoniser</title>
</head>
<body>
    {{template "header" .}}
    <h1>Evoniser - open ERP for everyone</h1>

    <!-- Форма для заполнения -->
    <form action="/form_handler" method="POST">
        <input type="text" name="first_name" placeholder="Your first name" autofocus autocomplete="off">
        <input type="submit" name="submit_btn" value="onda button">
    </form>

    <!-- Блок для отображения данных из отправленной заполненной формы -->
    {{if .}} <!-- показывается только, если форма была заполнена и отправлена на сервер --> 
    <main>
        {{range $name, $values := .}} <!-- проходим по структуре map[string][]string -->  
        <p>Parameter {{$name}} values:<p>
        <ul>
            {{range $values}}
            <li>{{.}}</li>
            {{end}}
        </ul>
        {{end}}
    </main>
    {{end}}
</body>
</html>

