<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
</head>
<body>
    <ul>
        {{range .}}
        <li>{{.Capital}} является столицей для {{.Name}}</li>
        {{end}}
    </ul>
</body>
</html>


